nav{
box-sizing: border-box;
top:0px;
width: 100%;
background-color: whitesmoke;
  padding: 5px;
  height: 95px;
  font-family:Optima, sans-serif;
  font-weight: 500;
}
.tab1,
.tab2,
.tab3,
.tab4{
  display:flex;
  justify-content: flex-end;
  -webkit-text-stroke-color: black;
  text-decoration: underline overline;
  text-decoration-color:black;
}

body {
 background-color: lightgrey; 

}

.container{
display: flex;
flex-direction:row;
justify-content: space-between;
}

.container2 {
 display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 10px;
    font-size: larger;
    line-height: 1.0;
    text-align: left;
} 
.container3-img{
  float: left;
  border:5px solid black;
  padding: 10px;
}
.content3 {
  float: right
  text-indent: 20px;
  font-size: 15px;
  padding: 30px;
  box-sizing: border-box;
  font-family: Optima, sans-serif;

}

.h1 {
  display: flex;
  justify-content:end;
}

.no-link{
  pointer-events: none;
  cursor:none; 
}

@media screen and (max-width: 480px){
  .nav,
  .body{ 
  height:30px;
  padding:5px;
}
}

